<div class="Header Content">
   <a class="Header-logoLink" href="index.html">
   <% if user = current_user %>  
   <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
   <% else %>
   <%= link_to 'LogIn', new_user_session_path  %>
   <%= link_to 'SignUp', new_user_registration_path  %>
   <% end %>
   <%= link_to 'Hard Ware', root_path %></a>
</div>